html,
body {
  margin: 0px;
  height: 100%;
  background-color: black;
}

footer{
    color: rgb(175, 175, 175);
    text-align: center;
    padding: 1%;
}

.frame{
    width:100%;
    height: 100vh;
    overflow: hidden;
}

.background{
    width:100%;
    position: relative;
    top: 0;
    left: 0;
}

.cover{
    position: relative;
    top: 0;
    left: 0;
}

.bBar{
    background-color: black;
    width: 100%;
    height: 15px;
}

.about{
    position: relative;
}

.subTitleBar{
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 80%;
    width: 100%;
}

.titleBar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 80%;
    width: 100%;
}

.textFrame{
    width: 38%;
    position: absolute;
    top: 15%;
    left: 8%;
    color: white;
    font-size: 20pt;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2%;
}

.fbook{
    width: 20%;
    position: absolute;
    top: 20%;
    left: 41.5%;
}

.instagram{
    width: 14%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.twitter{
    width: 13%;
    position: absolute;
    top: 20%;
    left: 70%;
}

.email{
    fill: red;
    width: 7%;
    position: absolute;
    top: 60%;
    left: 31%;
}

.emailbox{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 70px;
    width: 32%;
    padding-left: 8%;
    height: 18%;
    top: 61.5%;
    left: 31%;
    font-size: 300%;
    color: rgba(255, 255, 255, 0.904);
    border-color: rgb(41, 41, 41);


}

.socialDesc{
    width: 20%;
    border-radius: 10%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 39.5%;
    color: white;
    font-size: 20pt;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2%;
    padding-top: 7%;
}

.emailDesc{
    width: 50%;
    border-radius: 40px;
    text-align: center;
    position: absolute;
    top: 32%;
    left: 25%;
    color: white;
    font-size: 20pt;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2%;
    color: rgba(255, 255, 255, 0.822);
}

.picFrame{
    width:40%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 12%;
    left: 53%;
    color: white;
    font-size: 20pt;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2%;
}

.picFrame img{
    width:100%
}

.titleText{
    color: rgba(255, 255, 255, 0.856);
    margin-left: 10px;
    font-family: "Cormorant SC";
    font-size: 40pt;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 3px;
    float:left;
    margin-right: 15%;
}

.Subtitle{
    color: rgba(255, 255, 255);
    text-align: center;
    font-family: "Cormorant SC";
    font-size: 50pt;
    letter-spacing: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.titleButton{
    display: inline;
    color: rgb(255, 255, 255,0.95);
    background-color: black;
    cursor: pointer;
    font-family: "Times New Roman";
    font-size: 24pt;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 3px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    
}

.RLogo{
    width: 4%;
}

.logo{
    position: absolute;
  top: 200px;
  left: 50%;
  width: 40%;
  opacity: 95%;
}

.socials{
    position: relative;
}

.emailspot{
    position: relative;
}